# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*

# env
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# tests
/coverage
/.nyc_output

.zed/
